language: c
notifications:
 irc:
  channels: "irc.janouch.name#dev"
  use_notice: true
  skip_join: true
env:
 global:
  - secure: "HwvulqH0sB/PJVWzv/N3C8SjbeoW0QDWY2WmdVOxj2pzLJY/KtyWCktHRmXxGLcua99dA3wuwWpo5zMj+exw5pqnhgatnpinMR0DZ1+1hrEqPTbRwm+iy+QLsk1kUzksbijewmCYOggXoWu6ltvU9aEFjsSInuWap0MlFbBidGE="
addons:
 coverity_scan:
  project:
   name: "pjanouch/ponymap"
   description: "Experimental network scanner"
  notification_email: p.janouch@gmail.com
  build_command_prepend: "cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_LUA=OFF"
  build_command: "make"
  branch_pattern: coverity_scan
compiler:
 - clang
 - gcc
before_install:
 - sudo add-apt-repository ppa:ukplc-team/ppa -y
 - sudo apt-get update -qq
install:
 - sudo apt-get install -y help2man libjansson-dev libncursesw5-dev
before_script:
 - mkdir build
 - cd build
script:
 - cmake .. -DCMAKE_INSTALL_PREFIX=/usr
 - make
 - cpack -G DEB
